.header {
    display: flex;
    justify-content:space-between;
    border: 1px solid rgb(168, 162, 162);
    height: 110px;
}
.logo {
    height: 100px;
    width:100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-items{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
}
.nav-items > ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul >li { 
   margin: 10px;
   padding: 10px;
}
.res-cart {
   background-color: lightgray;
    Width:200px;
    padding: 5px;
    margin: 5px;
}
.image-self {
    Width:195px;
    height:170px;
    object-fit: cover;
}
.res-cart:hover {
    border: 1px solid black;
    cursor: pointer;
}
.search {
    padding: 10px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
}
.res-data {
    line-height: 1;
}
.filter
{
    display: flex;
}
.filter-btn
{
    margin: 10px;
}

.shimmer-container
{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 5px;
}
.shimmer-card
{
    width: 210px;
    height: 330px;
    margin: 5px;
    background-color: #f0f0f0;
}
.btn-Login
{
    justify-self: right;
    padding: 0px 5px;
    margin: 40px;
}
.search-box
{
    margin: 5px;
}
.user-card{
    padding: 10px;
    border: 1px solid black;
}